*
{
	font-family: 'open sans';
	text-align:center;
}
body
{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	background-color: rgb(178, 255, 127);
	border:0.1em solid black;
	padding: 0.5em 0.5em;
	border-radius:0.8em;
}

.recuadro {
	width: 80%;
	padding: 0.5em 0.5em;
	border-radius:0.8em;
}

.recuadro1 {
	margin-right: 1%;
	
}


.ub1
{
text-align:left;
font-weight: bold;

margin-bottom:0.5em;
margin-top:0.5em;
}
.caja1
{
	background:white;
	width:20em;
    height: auto;
    position: relative;
    margin: auto;
    padding: 2em;
	border-radius: 1em;
	color:black;


}
input, select
{
	width: 100%;
    padding: 0.5em;
	font-size:1em;
	border-radius:5px;
	border:1px solid black;
	color:black;
	text-align:left;
	
}
input[type=submit],input[type=reset]
{
margin-top: 1.5em;
width:48%;
text-align:center;

}
input[type=checkbox]
{
margin-left:0;
width:10%;

}

table
{
	width:50em;
	margin:0;
	border-collapse:collapse;
	border: 0.1em solid black;
	background: #2CA0DF;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
}

td
{
	padding:1em 2em;
	border: 0.1em solid black;
	text-align: center;
	background: #f3f3f3;
	font-weight: bold;
}

th
{
	padding:1em;
	border: 0.1em solid black;
	background-color: #70C1F7;
}
a
{
	font-size: 1em;
	text-align: center;
	
	display: inline-block;
	background-color:#ec7f7f;
	padding: 0.5em 0.5em;
	border-radius:0.8em;
	text-decoration: none;
	color:black;
	border:0.1em solid black;
	cursor:pointer;
	margin-top: 10%;
	margin-right: 35%;
	
}
.form
{
	font-size:2em;
	font-weight: bold;
	padding-bottom:0.8em;
	color:black;
}

