* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}



.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #48732a;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

.imagen-about-uss{
    width: 18%;
    float: left;
}

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 94%, 46%, 0.459), hsla(115, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


main .sobre-nosotros{
    padding: 30px 0 100px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: center;

}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #860606;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}



/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }

    .container {
        background: rgba(0,0,0,.3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        max-width: 100%;
        margin: auto;
        visibility: hidden;
    }

    .container.active {
        visibility: visible;
    }

    .btncerrar {
        width: 20%;
        float: right;
        margin-top: -34%;
        margin-right: -15%;
    }





    
    
    /*---- GENERALES ----*/
*{
    box-sizing: border-box;
}


:root {
    --colorform2: rgb(241, 241, 241);
    --colorform1: rgba(7, 214, 0, 0.377);
    --colornegro: black ; 
    --colorfondo: rgb(63, 65, 64);
    --colortexto: rgb(1, 31, 3);
    --colorblanco: rgb(255, 255, 255);
    --colorenviar: rgb(150, 22, 0);
    --error: rgb(126, 3, 3);
}

/*---- FORMULARIO ----*/
.formulario {
    border-top: 5px solid rgb(255, 0, 0) ;
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: rgb(121, 194, 87);
}
.tituloform {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.form-input{
    margin-bottom: 30px;
    margin-top: 10px;
}
.form-input label {
    display: block;
    margin-top: 3px;
    font-size: 15px;
    color: var(--colortexto);
}
.form-input input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid var(--colortexto);
}
.form-input input:focus + label{
    font-weight: bold;
    color: var(--colornegro);
}
.boton-enviar input {
    background: var(--colortexto);
    color: var(--colorblanco);
    padding: 10px 50px;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
}
.boton-enviar input:hover {
    background: var(--colorenviar);
    transition: 0.5s;
}
.mensajeError {
    color: var(--colornegro);
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 1px;
    
}
.mensajeCorrecto{
    text-align: center;
    font-weight: bold;
}
.foto{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40%;
    overflow: hidden;
    margin: auto;
}

.foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mantenerSesion {
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}

/* FORMULARIO DE REGISTRO */

/*---- FORMULARIO ----*/
.formula {
    border-top: 5px solid rgb(255, 0, 0) ;
    max-width: 700px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: rgb(121, 194, 87);
}
.tituloform {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.form-input{
    margin-bottom: 30px;
    margin-top: 10px;
}
.form-input label {
    display: block;
    margin-top: 3px;
    font-size: 15px;
    color: var(--colortexto);
}
.form-input input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid var(--colortexto);
}
.form-input input:focus + label{
    font-weight: bold;
    color: var(--colornegro);
}
.boton-enviar input {
    background: var(--colortexto);
    color: var(--colorblanco);
    padding: 10px 50px;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
}
.boton-enviar input:hover {
    background: var(--colorenviar);
    transition: 0.5s;
}
.mensajeError {
    color: var(--colornegro);
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 1px;
    
}
.mensajeCorrecto{
    text-align: center;
    font-weight: bold;
}
.foto{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40%;
    overflow: hidden;
    margin: auto;
}

.foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mantenerSesion {
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}

.btn_cerrar {
    width: 10%;
    float: right;
    margin-top: -12%;
    margin-right: -3%;
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

